body{
    margin: 0;
    padding: 0;
}

#container{
    height: 100vh;
    width: 100vw;
    background-color: aquamarine;
    display: grid;
    place-items: center;
}

#tablet{
    height: 600px;
    width: 350px;
    border-radius: 1rem;
    overflow: hidden;
    z-index: 1;
    background-color: white;
    position: relative;
}

.box{
    height:50%;
    width: 100%;
    background-color: rgb(236, 84, 57);
}
.p1{
    background-color: rgb(30, 184, 250);
}
#blueScore{
    height: 40px;
    width: 70px;
    z-index: 10;
    position: absolute;
    font-size: 3rem;
    color: white;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
#redScore{
    height: 40px;
    width: 70px;
    z-index: 10;
    position: absolute;
    font-size: 3rem;
    color: white;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
#result{
    z-index: 100;
    position: absolute;
    height: 100vh;
    width: 100vw;
    background: rgba(30,30,30,0.7);
    display: none;
    place-items: center;
}

#resultTab{
    height: 200px;
    border-radius: 1rem;
    box-shadow: 0px 0px 3px white;
    text-align: center;
    width: 300px;
    background-color: azure;
}

.score{
    display: flex;
    gap:1rem;
    justify-content: center;
    margin-bottom: 2rem;
}

.blue{
    background-color: rgb(30, 184, 250);
    color: white;
    font-size: 2rem;
    height: 40px;
    width: 40px;
}
.red{
    background-color: rgb(236, 84, 57);
    color: white;
    font-size: 2rem;
    height: 40px;
    width: 40px;
}
button{
    cursor: pointer;
    width: 6rem;
    height: 3rem;
    font-size: 1rem;
}